<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>Prueba vistas</title>
		<link rel="stylesheet" type="text/css" href="../../assets/css/control.css">

	</head>

	<body>
		<header>
			<h1>Bienvenido al administrador de Control Remoto</h1>
		</header>
		<section>
			<aside>
				<div id="asideh">
					<a href="">Artículos</a>
					<a href="">Conciertos</a>
				</div>
			</aside>
			<article>
				<a href="" id="nuevaentrada">Nueva entrada</a>
				<table>
					<tr>
						<td><p>ID</p></td>
						<td><p>Fecha</p></td>
						<td><a href="">Hola</a></td>
					</tr>
				</table>
			</article>
		</section>
	</body>
</html>
